<template>
  <v-container class="grey lighten-5">
    <v-row no-gutters class="contentBlock">
      <Title v-if="element.variable === 'ElementTitle'" :title="element"/>
      <TextField v-if="element.variable === 'ElementText'" :text="element" />
      <ImageField v-if="element.variable === 'ElementImage'" :image="element"/>
    </v-row>
  </v-container>
</template>

<script>
  import Title from "./Title";
  import TextField from "./Text";
  import ImageField from "./Image";
    export default {
        name: "Element",
        data() {
            return{

            }
        },
        components:{
            Title,
            TextField,
            ImageField
        },
        props: ['element']
    }
</script>

<style >
.title input{
  font-size: 24px;
  font-weight: 600;
}
.contentBlock{
  position: relative;
  padding: 60px 0;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
</style>
