<template>
    <div class="EventMenu">
        <div class="text-center">
            <v-btn
                    class="ma-2"
                    color="secondary"
                    @click="addTitle"
            >
                Add Title
            </v-btn>
            <v-btn
                class="ma-2"
                color="secondary"
                @click="addText"
            >
                Add Text
            </v-btn>
            <v-btn
                class="ma-2"
                color="secondary"
                @click="addImage"
            >
                Add Image
            </v-btn>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EventMenu",
        data () {
            return{}
        },
        methods: {
            addTitle(){
                this.$emit('addElement', {tag:'h1', variable:'ElementTitle', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim dui et dolor euismod, non laoreet lectus sodales. ', class:'title'})
            },
            addText(){
                this.$emit('addElement', {tag:'p', variable:'ElementText',text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim dui et dolor euismod, non laoreet lectus sodales. Aenean in posuere dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed dapibus elit pretium libero porta, vitae porttitor nulla dignissim. Curabitur vehicula nunc dolor, a cursus odio facilisis ac. Nullam vulputate neque tellus. Praesent cursus diam a neque tincidunt finibus. Vivamus at dui mauris. Aliquam mollis magna nec sagittis elementum. Suspendisse ornare dolor in elementum commodo. Donec fermentum, dolor sed pretium molestie, nunc ex posuere felis, in interdum risus nisi in risus. Integer aliquet efficitur ultricies. Donec imperdiet quam sed ipsum commodo, sed cursus nulla placerat. Pellentesque finibus, ante a hendrerit condimentum, erat nisl fermentum mi, id suscipit odio purus vitae est. Pellentesque suscipit, urna sed malesuada iaculis, enim velit cursus eros, eu condimentum purus ante at urna. Fusce consectetur purus in erat hendrerit, ut vulputate neque tincidunt.', class:'text'})
            },
            addImage(){
                this.$emit('addElement', {tag:'image', variable:'ElementImage',text:'', class:'text'})
            }
        }
    }
</script>

<style scoped>
    .EventMenu{
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 9;
    }
</style>
