<template>
  <v-col cols="12" :class='["text-center", image.class]'>
    <v-file-input accept="image/*" label="File input" @change="loadFile" v-model="imagesTest"></v-file-input>
    <v-img :src='imgUrl' aspect-ratio="1.7" v-if="imgUrl"></v-img>
  </v-col>
</template>

<script>
    export default {
        name: "Image",
        data() {
            return{
              imgUrl: '',
              imagesTest: ''
            }
        },
        methods: {
          loadFile(event) {
              this.imgUrl = URL.createObjectURL(event)
          }
        },
        props: ['image']

    }
</script>

<style >
  .title input{
    font-size: 24px;
    font-weight: 600;
  }
</style>
