<template>
    <div  >
        <v-col cols="12" class="text-center ">
            <v-text-field
                    class="titleName"
                    value="Enter title"
                    solo
            ></v-text-field>
        </v-col>
    </div>
</template>

<script>
    export default {
        name: "mainScreen"
    }
</script>

<style >
.titleName input {
    text-align: center;
    border: none;
    font-size: 32px;
    font-weight: 700;
}
</style>
