<template>
    <div>
        <v-col cols="12" class="text-left">
            <div class="breadcrumbs" cols="12">
                 <div class="list-item">main &nbsp;</div>
                <div class="list-item" v-if="siteTitle != ''"> -> <span>{{siteTitle}}</span></div>
            </div>
        </v-col>
        <div class="text-center">

            <v-dialog v-if = "siteName"
                      v-model="dialog"
                      width="500"
            >
                <template v-slot:activator="{ on }">
                    <v-btn
                            color="red lighten-2"
                            dark
                            v-if="siteName"
                            v-on="on"
                    >
                        Add project
                    </v-btn>
                </template>

                <v-card>
                    <v-card-title
                            class="headline grey lighten-2"
                            primary-title
                    >
                        Enter Project name
                    </v-card-title>

                    <v-col cols="12">
                        <v-text-field
                                label="Name"
                                v-model="inputValue"
                        ></v-text-field>
                    </v-col>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                text
                                @click="toggle ()"
                        >
                            I accept
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>

</template>

<script>
    export default {
        name: "modal",
        data() {
            return {
                siteName : true,
                siteTitle : '',
                inputValue : '',
                done: false,
                open: true,
            }
        },
        methods: {
            toggle (){
                this.siteName = false
                this.siteTitle = this.inputValue
                this.done = true
                this.$emit('toggled', this.open);
            }
        }
    }
</script>

<style scoped>
.list-item{
    display: inline-block;
}
</style>
