<template>
  <v-toolbar dense>
    <template v-if="$vuetify.breakpoint.mdAndUp">

      <v-overflow-btn
          :items="dropdown_edit"
          editable
          label="Select font size"
          @change="changeFontSize"
          hide-details
          class="pa-0"
          overflow
      ></v-overflow-btn>

      <v-divider vertical></v-divider>

      <v-spacer></v-spacer>

<!--      <v-btn-toggle-->
<!--          v-model="toggle_multiple"-->
<!--          color="primary"-->
<!--          dense-->
<!--          group-->
<!--          multiple-->
<!--      >-->
<!--        <v-btn :value="1" text>-->
<!--          <v-icon>mdi-format-bold</v-icon>-->
<!--        </v-btn>-->

<!--        <v-btn :value="2" text>-->
<!--          <v-icon>mdi-format-italic</v-icon>-->
<!--        </v-btn>-->

<!--        <v-btn :value="3" text>-->
<!--          <v-icon>mdi-format-underline</v-icon>-->
<!--        </v-btn>-->

<!--        <v-btn :value="4" text>-->
<!--          <v-icon>mdi-format-color-fill</v-icon>-->
<!--        </v-btn>-->
<!--      </v-btn-toggle>-->

      <div class="mx-4"></div>

      <v-btn-toggle
          v-model="toggle_exclusive"
          color="primary"
          dense
          group
      >
        <v-btn :value="1" text @click="changePosition('alignLeft')">
          <v-icon>mdi-format-align-left</v-icon>
        </v-btn>

        <v-btn :value="2" text @click="changePosition('alignCenter')">
          <v-icon>mdi-format-align-center</v-icon>
        </v-btn>

        <v-btn :value="3" text @click="changePosition('alignRight')">
          <v-icon>mdi-format-align-right</v-icon>
        </v-btn>

        <v-btn :value="4" text @click="changePosition('alignJustify')">
          <v-icon>mdi-format-align-justify</v-icon>
        </v-btn>
      </v-btn-toggle>
    </template>
  </v-toolbar>
</template>

<script>
    export default {
        name: "StyleButtons",
        data () {
            return {
                dropdown_edit: [
                    { text: '17px', value:'xs' },
                    { text: '18px', value:'s' },
                    { text: '19px', value:'m' },
                    { text: '20px', value:'l' },
                ],
                toggle_exclusive: 2,
                toggle_multiple: [1, 2, 3],
                alignElement: 1,
                fontSize: 1
            }
        },
        methods: {
            changePosition(value) {
                this.alignElement = value
                console.log('1', this.alignElement)
                this.$emit('ChangeStyle', this.alignElement)
            },
            changeFontSize(value) {
                console.log('1', value)
                this.fontSize = value
                this.$emit('ChangeFontSize', this.fontSize)
            }
        }
    }
</script>

<style scoped>

</style>
