<template>
  <v-col cols="12" :class='["text-center", text.class]'>
    <v-textarea
        name="input-7-1"
        :value= 'text.text'
        auto-grow
        :class="[textAlign, fontSize]"

        hint="Hint text"
    ></v-textarea>
    <div class="absoluteBlock">
      <StyleButtons @ChangeStyle="changeStyle" @ChangeFontSize="ChangeFont"/>
    </div>
  </v-col>
</template>

<script>
  import StyleButtons from "./StyleButtons";
    export default {
        name: "Text",
        data() {
            return{
              textAlign: '',
              fontSize: ''
            }
        },
        components: {
            StyleButtons
        },
        props: ['text'],
        methods: {
          changeStyle(value) {
            this.textAlign = value
          },
          ChangeFont (value) {
            this.fontSize = value
          }
        }

    }
</script>

<style >
  .text textarea{
    font-size: 16px;
    font-weight: 400;
  }
  .absoluteBlock{
    position: absolute;
    right: 0;
    top: 0;
  }
  .alignLeft textarea{
    text-align: left;
  }
  .alignCenter textarea{
    text-align: center;
  }
  .alignRight textarea{
    text-align: right;
  }
  .alignJustify textarea{
    text-align: justify;
  }
  .xs textarea{
    font-size: 17px;
  }
  .s textarea{
    font-size: 18px;
  }
  .m textarea{
    font-size: 19px;
  }
  .l textarea{
    font-size: 20px;
  }
</style>
