<template>
  <v-col cols="12" :class='["text-center", title.class]'>
    <v-text-field
        class="titleName"
        :value= 'title.text'
        :flat = true
        solo
    ></v-text-field>
  </v-col>
</template>

<script>
    export default {
        name: "Title",
        data() {
            return{

            }
        },
        props: ['title']
    }
</script>

<style >
  .title input{
    font-size: 24px;
    font-weight: 600;
  }
</style>
