<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <div class="mr-2"> Constructor</div>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <Modal @toggled='changeToggle'/>
      <mainScreen v-if="open"/>
      <EventMenu v-if="open" @addElement = 'addElement'/>
      <ElementItem
          v-for="(element, key) in elements"
          :key="key"
          :element="element"
      />
    </v-content>
  </v-app>
</template>

<script>
import Modal from "./components/Modal";
import mainScreen from "./components/mainScreen";
import EventMenu from "./components/EventMenu";
import ElementItem from "./components/Element";

export default {
  name: 'App',
  data (){
    return{
      open: false,
      elements: []
    }
  },
  components: {
    Modal,
    mainScreen,
    EventMenu,
    ElementItem
  },
  methods: {
   changeToggle(value) {
      this.open = value
    },
    addElement(item){
     this.elements.push(item)
    }
  }

};
</script>
